node_modules
.pnpm-store
.next
out
.DS_Store
*.log
.env*
!.env.example

# Android
android/.gradle
android/build
android/app/build
android/local.properties
android/.idea
android/captures
android/keystore.properties
android/app/release
*.keystore
*.jks
